APPWRITE_ENDPOINT=
APPWRITE_PROJECT_ID=
APPWRITE_PROJECT_NAME=

PUBLIC_APPWRITE_PROJECT_ID=
PUBLIC_APPWRITE_PROJECT_NAME=
PUBLIC_APPWRITE_ENDPOINT=

APPWRITE_API_KEY=
APPWRITE_CLAIMS_TABLE_ID=
APPWRITE_BADGES_TABLE_ID=
APPWRITE_AVATARS_BUCKET_ID=

APPWRITE_NGO_TEAM_ID=
APPWRITE_VOLUNTEER_TEAM_ID=

NGO_API_TOKEN=
USER_API_TOKEN=

# AUTH_SECRET=
# AUTH_TRUST_HOST=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=