APPWRITE_ENDPOINT=
APPWRITE_PROJECT_ID=
APPWRITE_PROJECT_NAME=

PUBLIC_APPWRITE_PROJECT_ID=
PUBLIC_APPWRITE_PROJECT_NAME=
PUBLIC_APP_URL=
PUBLIC_APPWRITE_ENDPOINT=

APPWRITE_API_KEY=
APPWRITE_DB_ID=
APPWRITE_TASKS_TABLE_ID=
APPWRITE_CLAIMS_TABLE_ID=
APPWRITE_BADGES_TABLE_ID=
APPWRITE_AVATARS_BUCKET_ID=
APPWRITE_ADMIN_TEAM_ID=
APPWRITE_VERIFICATIONS_TABLE_ID=
APPWRITE_VERIFICATIONS_BUCKET_ID=
APPWRITE_BADGE_DEFS_TABLE_ID=

APPWRITE_NGO_TEAM_ID=
APPWRITE_VOLUNTEER_TEAM_ID=

NGO_API_TOKEN=
USER_API_TOKEN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_FROM_EMAIL=
MAILGUN_REGION=